* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.row_1_title,
.row_2_title {
    text-align: center;
}

.big_row_1{
    padding: 30px 0;
    background-color: white;
    border-radius: 20px;
}
.row_1 {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.row_1_buttons {
    text-align: center;
    padding-top: 20px;
}

.row_1 .nome_cognome,
.row_1 .chilometri,
.row_1 .eta {
    text-align: center;
    height: 10vh;
    
}

.row_2 {
    height:50vh;
    background-color: white;
    padding-top: 20px;
}

.passenger_name {
    width: 20%;
    height: 30vh;
    float: left;
    background-color: gray;
}

.ticket_table {
    border-top:1px solid black;
    border-bottom:1px solid black;
    height: 30vh;
    width: 80%;
    float: left;
    padding: 0 20px;
}

th, td {
    padding: 15px;
    text-align: left;
  }